/* Uitilites  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* body styles  */

body{
    font-family: 'Poppins', sans-serif;
}


/* header styles  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span a {
    text-decoration: none;
    padding: 30px;

}