/* Uitilites  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



/* body styles  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */


/* header styles  */

.menu-container{
    width: 1440px;
    height: 677px;
    background: #2D25A0; 
    margin-left:182px;
}

nav {
    display: flex;
    justify-content: space-between;
}

span a {
    text-decoration: none;
    padding: 10px;
    color:#FFFFFF;
    font-size: 16px;
}
.menu-content-title{
    height: 0.7em;
    font-size: 64px;
    color:#FFFFFF;
}
.menu-content-button{
  
    background: #E02C6D;
    color:  #FFFFFF;
    margin: 8px 8px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

span{
    padding-top: 40px;
    padding-right:120px;
    margin-left: 156px;
} 
.menu-content{
    display: flex;
    justify-content: center;
    align-items: center;
       
}

.content-right img{
   padding-left: 100px;
   width: 556px;
   height:438px;
   margin-right: 150px; }  

.menu-bar-button{
    padding-right: 100px;
}

.content.left{
    height: 320px;
    width: 487px;
    margin-left: 182px;
    margin-right: 797px;
    margin-bottom: 150px;
    margin-top: 207px;
}

.menu-container:hover .content-right{
    transform: scale(1.1) rotate(15deg);
    transition: 2s, ease-in-out;
}
/* main styles start */

/* players styles  */

.info-container{
    width: 1040px;
    margin-left: 400px;
    margin-top: 70px;
    margin-right: 210px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap:30px;
    
}

.player{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.player .thumbnail img{
    width: 100%;
    height: 200px;

}

.player .player-details p{
    text-align: justify;
    
}
 .player {
    width: 330px;
    height: 474px;
    border: 3px;
    padding-left: 15px 15px 15px 15px;
}

/* highlights content styles  */

.content-image{
width: 100%;

}

.highlights-contents{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
   
}
.content-title{
    height: 0.5em;
}

.content-details{
    text-align: justify;
}
.highlight-1 {
    width: 469px;
    margin-top: 150px;
    margin-right: 66px;
    margin-left: 182px;
    margin-bottom: 150px;
    padding-left: 200px;
}

.highlight-content-button{
  
    background: #E02C6D;
    color:  #FFFFFF;
    margin: 8px 8px 8px 8px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}
.highlight-2{
    width: 600px;
    height: 120px;
    margin-top: 100px;
    margin-right: 130px;
    margin-left: 66px;
}

.highlight-3 {
    width: 469px;
    margin-left: 370px;
    margin-bottom: 150px;  
}

.highlight-4 {
    width: 469px;
    margin-top: 10px;
    margin-right: 130px;
    margin-left: 66px;   
}

.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main styles end  */

/* footer styles  */

.footer-content{
    text-align: center;
  
}
    .footer-image{
        width: 484px;
        height: 110px;
    }
    .footer-icons a{
        color: gray;
        
    }

    

/* mobile screen  */
@media only screen and (max-width:668px){

  header .menu-content{
      flex-direction: column;
      width: 100%;
  }
  .players{
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
  }
.highlights-contents{
    
    grid-template-columns: repeat(1fr);
   
}
footer{
    text-align: center;
    width: 100%;
    margin-left: 300px;


    }
}